In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [ ]:
#for Part-B
df=pd.read_csv("/Users/ayushparoha/Documents/Data_Science/env/college/World Happiness Report.csv")
print(df.head())

       Country  Happiness Rank  Happiness Score   Economy    Family    Health  \
0       Norway               1            7.537  1.616463  1.533524  0.796667
1      Denmark               2            7.522  1.482383  1.551122  0.792566
2      Iceland               3            7.504  1.480633  1.610574  0.833552
3  Switzerland               4            7.494  1.564980  1.516912  0.858131
4      Finland               5            7.469  1.443572  1.540247  0.809158

    Freedom  Generosity  Corruption  Dystopia  Job Satisfaction  \
0  0.635423    0.362012    0.315964  2.277027              94.6
1  0.626007    0.355280    0.400770  2.313707              93.5
2  0.627163    0.475540    0.153527  2.322715              94.5
3  0.620071    0.290549    0.367007  2.276716              93.7
4  0.617951    0.245483    0.382612  2.430182              91.2

           Region
0  Western Europe
1  Western Europe
2  Western Europe
3  Western Europe
4  Western Europe

In [ ]:
df.columns

Index(['Country', 'Happiness Rank', 'Happiness Score', 'Economy', 'Family',
       'Health', 'Freedom', 'Generosity', 'Corruption', 'Dystopia',
       'Job Satisfaction', 'Region'],
      dtype='object')

In [ ]:
df.dtypes

Country              object
Happiness Rank        int64
Happiness Score     float64
Economy             float64
Family              float64
Health              float64
Freedom             float64
Generosity          float64
Corruption          float64
Dystopia            float64
Job Satisfaction    float64
Region               object
dtype: object

In [ ]:
df.sort_values("Happiness Score", ascending=False).head(10)[["Country", "Happiness Score"]]

       Country  Happiness Score
0       Norway            7.537
1      Denmark            7.522
2      Iceland            7.504
3  Switzerland            7.494
4      Finland            7.469
5  Netherlands            7.377
6       Canada            7.316
7  New Zealand            7.314
9    Australia            7.284
8       Sweden            7.284

In [ ]:
df.groupby("Region")["Happiness Score"].mean()

Region
Africa            4.239500
Asia-Pacific      5.358326
Eastern Europe    5.513091
Europe            4.096000
Latin America     5.957818
North America     7.154500
Western Europe    6.880474
Name: Happiness Score, dtype: float64