In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [ ]:
'''part-A'''

data="/Users/ayushparoha/Documents/Data_Science/env/college/SuperStoreUS-2015.xlsx"
df=pd.read_excel(data)
print(df.head())

   Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0   20847           High      0.01        2.84           0.93            3
1   20228  Not Specified      0.02      500.98          26.00            5
2   21776       Critical      0.06        9.48           7.29           11
3   24844         Medium      0.09       78.69          19.99           14
4   24846         Medium      0.08        3.28           2.31           14

       Customer Name       Ship Mode Customer Segment Product Category  ...  \
0      Bonnie Potter     Express Air        Corporate  Office Supplies  ...
1     Ronnie Proctor  Delivery Truck      Home Office        Furniture  ...
2      Marcus Dunlap     Regular Air      Home Office        Furniture  ...
3  Gwendolyn F Tyson     Regular Air   Small Business        Furniture  ...
4  Gwendolyn F Tyson     Regular Air   Small Business  Office Supplies  ...

    Region State or Province         City  Postal Code Order Date  Ship Date  \
0     West        Washington    Anacortes        98221 2015-01-07 2015-01-08
1     West        California  San Gabriel        91776 2015-06-13 2015-06-15
2     East        New Jersey      Roselle         7203 2015-02-15 2015-02-17
3  Central         Minnesota   Prior Lake        55372 2015-05-12 2015-05-14
4  Central         Minnesota   Prior Lake        55372 2015-05-12 2015-05-13

      Profit Quantity ordered new    Sales Order ID
0     4.5600                    4    13.01    88522
1  4390.3665                   12  6362.85    90193
2   -53.8096                   22   211.15    90192
3   803.4705                   16  1164.45    86838
4   -24.0300                    7    22.23    86838

[5 rows x 25 columns]

In [ ]:
print(df.describe())

             Row ID     Discount   Unit Price  Shipping Cost  Customer ID  \
count   1952.000000  1952.000000  1952.000000    1952.000000  1952.000000
mean   19916.479508     0.048975   109.079221      12.968151  1735.376537
min       64.000000     0.000000     1.140000       0.490000     3.000000
25%    19121.000000     0.020000     6.480000       3.230000   875.000000
50%    21164.500000     0.050000    20.990000       6.150000  1738.000000
75%    23483.250000     0.080000   100.972500      14.362500  2578.250000
max    26389.000000     0.210000  6783.020000     164.730000  3403.000000
std     5957.595627     0.031378   393.481301      17.414631   991.078006

       Product Base Margin   Postal Code                     Order Date  \
count          1936.000000   1952.000000                           1952
mean              0.515186  51534.769467  2015-03-29 01:21:08.852459008
min               0.350000   1001.000000            2015-01-01 00:00:00
25%               0.380000  28560.000000            2015-02-11 00:00:00
50%               0.525000  48765.500000            2015-03-27 12:00:00
75%               0.590000  78550.000000            2015-05-15 00:00:00
max               0.850000  99362.000000            2015-06-30 00:00:00
std               0.137055  29362.828420                            NaN

                           Ship Date        Profit  Quantity ordered new  \
count                           1952   1952.000000           1952.000000
mean   2015-03-30 23:55:34.426229248    114.793859             12.944672
min              2015-01-02 00:00:00 -16476.838000              1.000000
25%              2015-02-13 00:00:00    -84.485400              5.000000
50%              2015-03-29 00:00:00      1.476450             10.000000
75%              2015-05-16 00:00:00    116.201575             16.000000
max              2015-07-08 00:00:00   9228.225600            167.000000
std                              NaN   1141.112387             13.871565

              Sales      Order ID
count   1952.000000   1952.000000
mean     985.828832  82365.924180
min        2.250000    359.000000
25%       58.807500  86767.750000
50%      202.395000  88376.000000
75%      802.945000  89957.000000
max    45737.330000  91586.000000
std     2559.900167  19042.295798

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1952 entries, 0 to 1951
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                1952 non-null   int64
 1   Order Priority        1952 non-null   object
 2   Discount              1952 non-null   float64
 3   Unit Price            1952 non-null   float64
 4   Shipping Cost         1952 non-null   float64
 5   Customer ID           1952 non-null   int64
 6   Customer Name         1952 non-null   object
 7   Ship Mode             1952 non-null   object
 8   Customer Segment      1952 non-null   object
 9   Product Category      1952 non-null   object
 10  Product Sub-Category  1952 non-null   object
 11  Product Container     1952 non-null   object
 12  Product Name          1952 non-null   object
 13  Product Base Margin   1936 non-null   float64
 14  Country               1952 non-null   object
 15  Region                1952 non-null   object
 16  State or Province     1952 non-null   object
 17  City                  1952 non-null   object
 18  Postal Code           1952 non-null   int64
 19  Order Date            1952 non-null   datetime64[ns]
 20  Ship Date             1952 non-null   datetime64[ns]
 21  Profit                1952 non-null   float64
 22  Quantity ordered new  1952 non-null   int64
 23  Sales                 1952 non-null   float64
 24  Order ID              1952 non-null   int64
dtypes: datetime64[ns](2), float64(6), int64(5), object(12)
memory usage: 381.4+ KB
None

In [ ]:
df.rename(columns={"Discount": "Max_Discount"}, inplace=True)
print(df)

      Row ID Order Priority  Max_Discount  Unit Price  Shipping Cost  \
0      20847           High          0.01        2.84           0.93
1      20228  Not Specified          0.02      500.98          26.00
2      21776       Critical          0.06        9.48           7.29
3      24844         Medium          0.09       78.69          19.99
4      24846         Medium          0.08        3.28           2.31
...      ...            ...           ...         ...            ...
1947   19842           High          0.01       10.90           7.46
1948   19843           High          0.10        7.99           5.03
1949   26208  Not Specified          0.08       11.97           5.81
1950   24911         Medium          0.10        9.38           4.93
1951   25914           High          0.10      105.98          13.99

      Customer ID      Customer Name       Ship Mode Customer Segment  \
0               3      Bonnie Potter     Express Air        Corporate
1               5     Ronnie Proctor  Delivery Truck      Home Office
2              11      Marcus Dunlap     Regular Air      Home Office
3              14  Gwendolyn F Tyson     Regular Air   Small Business
4              14  Gwendolyn F Tyson     Regular Air   Small Business
...           ...                ...             ...              ...
1947         3397        Andrea Shaw     Regular Air   Small Business
1948         3397        Andrea Shaw     Regular Air   Small Business
1949         3399        Marvin Reid     Regular Air   Small Business
1950         3400      Florence Gold     Express Air   Small Business
1951         3403      Tammy Buckley     Express Air         Consumer

     Product Category  ...   Region State or Province         City  \
0     Office Supplies  ...     West        Washington    Anacortes
1           Furniture  ...     West        California  San Gabriel
2           Furniture  ...     East        New Jersey      Roselle
3           Furniture  ...  Central         Minnesota   Prior Lake
4     Office Supplies  ...  Central         Minnesota   Prior Lake
...               ...  ...      ...               ...          ...
1947  Office Supplies  ...  Central          Illinois     Danville
1948       Technology  ...  Central          Illinois     Danville
1949  Office Supplies  ...  Central          Illinois  Des Plaines
1950        Furniture  ...     East     West Virginia     Fairmont
1951        Furniture  ...     West           Wyoming     Cheyenne

      Postal Code Order Date  Ship Date     Profit Quantity ordered new  \
0           98221 2015-01-07 2015-01-08     4.5600                    4
1           91776 2015-06-13 2015-06-15  4390.3665                   12
2            7203 2015-02-15 2015-02-17   -53.8096                   22
3           55372 2015-05-12 2015-05-14   803.4705                   16
4           55372 2015-05-12 2015-05-13   -24.0300                    7
...           ...        ...        ...        ...                  ...
1947        61832 2015-03-11 2015-03-12  -116.7600                   18
1948        61832 2015-03-11 2015-03-12  -160.9520                   22
1949        60016 2015-03-29 2015-03-31   -41.8700                    5
1950        26554 2015-04-04 2015-04-04   -24.7104                   15
1951        82001 2015-02-08 2015-02-11   349.4850                    5

        Sales Order ID
0       13.01    88522
1     6362.85    90193
2      211.15    90192
3     1164.45    86838
4       22.23    86838
...       ...      ...
1947   207.31    87536
1948   143.12    87536
1949    59.98    87534
1950   135.78    87537
1951   506.50    87530

[1952 rows x 25 columns]

In [ ]:
df.groupby("Product Category")["Sales"].sum()

Product Category
Furniture          660704.31
Office Supplies    551368.62
Technology         712264.95
Name: Sales, dtype: float64

In [ ]:
df["10_discount"]=df["Sales"]*0.1
print(df["10_discount"])

0         1.301
1       636.285
2        21.115
3       116.445
4         2.223
         ...
1947     20.731
1948     14.312
1949      5.998
1950     13.578
1951     50.650
Name: 10_discount, Length: 1952, dtype: float64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1952 entries, 0 to 1951
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                1952 non-null   int64
 1   Order Priority        1952 non-null   object
 2   Max_Discount          1952 non-null   float64
 3   Unit Price            1952 non-null   float64
 4   Shipping Cost         1952 non-null   float64
 5   Customer ID           1952 non-null   int64
 6   Customer Name         1952 non-null   object
 7   Ship Mode             1952 non-null   object
 8   Customer Segment      1952 non-null   object
 9   Product Category      1952 non-null   object
 10  Product Sub-Category  1952 non-null   object
 11  Product Container     1952 non-null   object
 12  Product Name          1952 non-null   object
 13  Product Base Margin   1936 non-null   float64
 14  Country               1952 non-null   object
 15  Region                1952 non-null   object
 16  State or Province     1952 non-null   object
 17  City                  1952 non-null   object
 18  Postal Code           1952 non-null   int64
 19  Order Date            1952 non-null   datetime64[ns]
 20  Ship Date             1952 non-null   datetime64[ns]
 21  Profit                1952 non-null   float64
 22  Quantity ordered new  1952 non-null   int64
 23  Sales                 1952 non-null   float64
 24  Order ID              1952 non-null   int64
 25  10_discount           1952 non-null   float64
dtypes: datetime64[ns](2), float64(7), int64(5), object(12)
memory usage: 396.6+ KB

In [ ]:
total_sales=df["Sales"].sum()
print((df.groupby('Product Category')['Sales'].sum()/total_sales*100).idxmax())

Technology

In [ ]:
print(df["Product Category"].value_counts()) #its is the frequency of that item

Product Category
Office Supplies    1071
Technology          481
Furniture           400
Name: count, dtype: int64