In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import seaborn as sns

In [ ]:
from sklearn.impute import SimpleImputer, KNNImputer

In [ ]:
d= "heart.csv"
data=pd.read_csv(d)
print(data.head())

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0   52    1   0       125   212    0        1      168      0      1.0      2
1   53    1   0       140   203    1        0      155      1      3.1      0
2   70    1   0       145   174    0        1      125      1      2.6      0
3   61    1   0       148   203    0        1      161      0      0.0      2
4   62    0   0       138   294    1        1      106      0      1.9      1

   ca  thal  target
0   2     3       0
1   0     3       0
2   0     3       0
3   1     3       0
4   3     2       0

In [ ]:
df=pd.DataFrame(data)

In [ ]:
d=df["chol"].isnull
print(d)

<bound method Series.isnull of 0       212
1       203
2       174
3       203
4       294
       ...
1020    221
1021    258
1022    275
1023    254
1024    188
Name: chol, Length: 1025, dtype: int64>

In [ ]:
df_missing=df.copy()
df_missing.loc[5:15, "chol"]=np.nan
df_missing.loc[4:14, "trestbps"]=np.nan
print(df_missing[["chol","trestbps"]].isnull().sum())

chol        11
trestbps    11
dtype: int64

In [ ]:
df_missing.loc[5:15, "chol"]=np.nan
df_missing.loc[4:14, "trestbps"]=np.nan

In [ ]:
print(df_missing[["chol","trestbps"]].isnull().sum())

chol        11
trestbps    11
dtype: int64

In [ ]:
df_knn= df_missing.copy()

In [ ]:
df_knn.loc[5:15 ,["chol"]]=np.nan
df_knn.loc[0:8, ["trestbps"]]=np.nan

In [ ]:
print(df_knn.head())

   age  sex  cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
0   52    1   0       NaN  212.0    0        1      168      0      1.0
1   53    1   0       NaN  203.0    1        0      155      1      3.1
2   70    1   0       NaN  174.0    0        1      125      1      2.6
3   61    1   0       NaN  203.0    0        1      161      0      0.0
4   62    0   0       NaN  294.0    1        1      106      0      1.9

   slope  ca  thal  target
0      2   2     3       0
1      0   0     3       0
2      0   0     3       0
3      2   1     3       0
4      1   3     2       0

In [ ]:
knn_imputer=KNNImputer(n_neighbors=5)
df_knn=pd.DataFrame(knn_imputer.fit_transform(df), columns=df.columns)
print(df_knn.head())

    age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
0  52.0  1.0  0.0     125.0  212.0  0.0      1.0    168.0    0.0      1.0
1  53.0  1.0  0.0     140.0  203.0  1.0      0.0    155.0    1.0      3.1
2  70.0  1.0  0.0     145.0  174.0  0.0      1.0    125.0    1.0      2.6
3  61.0  1.0  0.0     148.0  203.0  0.0      1.0    161.0    0.0      0.0
4  62.0  0.0  0.0     138.0  294.0  1.0      1.0    106.0    0.0      1.9

   slope   ca  thal  target
0    2.0  2.0   3.0     0.0
1    0.0  0.0   3.0     0.0
2    0.0  0.0   3.0     0.0
3    2.0  1.0   3.0     0.0
4    1.0  3.0   2.0     0.0

In [ ]:
print(df_knn.isnull().sum())

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64